@model IEnumerable<BlueTapeCrew.ViewModels.MenuViewModel>
@foreach (var item in Model)
{
    <li class="list-group-item clearfix dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;"><i class="fa fa-angle-right"></i> @Html.DisplayFor(modelItem => item.MenuName)</a>
        <ul class="dropdown-menu">
            @foreach (var itm in item.Items)
            {
                <li><a href="@Url.Action("Details", "Products", new {@name = itm.LinkName})" class="product-link" id="@itm.LinkName"><i class="fa fa-angle-right"></i> @itm.ItemName </a></li>
            }
        </ul>
    </li>
}
