@if (Request.IsAuthenticated)
{
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a id="logoff" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </li>
    if (User.IsInRole("Admin"))
    {
        <li><a id="adminLogin" class="text text-danger bg-danger" href="~/admin">Site Administration</a></li>
    }
}
else
{
    <li>@Html.ActionLink("Log in", "Login", "Account", new { returnUrl = Request.Url.AbsoluteUri }, htmlAttributes: new { id = "loginLink" })</li>
}
