@{
    ViewBag.Title = "Account Created";
}
<div class="main">
    <div class="container">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>
        </div>
    </div>
</div>
