@if (User.Identity.IsAuthenticated)
{
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a id="logoff" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </li>
    if (User.IsInRole("Admin"))
    {
        <li><a id="adminLogin" class="text text-danger bg-danger" href="~/Admin/AdminProducts/Index">Site Administration</a></li>
    }
}
else
{
    var returnUrl = Context.Request.PathBase + Context.Request.Path;
   <li>@Html.ActionLink("Log in", "Login", "Account", new { returnUrl }, htmlAttributes: new { id = "loginLink" })</li>
}
