@{
    ViewBag.Title = "Confirm Email";
    var modelErrors = ViewData.ModelState.Values.SelectMany(modelState => modelState.Errors);
}
<div class="main">
    <div class="container">
        @if (modelErrors.Any())
        {
            <div class="row">
                <div class="col-md-12">
                    @foreach (var error in modelErrors)
                    {
                        <span class="text-danger">@error.ErrorMessage</span>
                    }
                </div>
            </div>
        }
        else
        {
            <h2>@ViewBag.Title.</h2>
            <div>
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        }



        @section Scripts{
            <partial name="_BlueTapeJs" />
            <script>
                jQuery(document).ready(function () {
                    Layout.init();
                    Layout.initTwitter();
                    Layout.initOWL();
                    Layout.initImageZoom();
                    Layout.initTouchspin();
                    Layout.initUniform();
                });;
            </script>
        }

    </div>
</div>