@{
    ViewBag.Title = "Confirm Email";
}
@section HeadCss
{
    
}
<div class="main">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
        @section Scripts{
            @Scripts.Render("~/bluetape/js")
            <script>
                jQuery(document).ready(function () {
                    Layout.init();
                    Layout.initTwitter();
                    Layout.initOWL();
                    Layout.initImageZoom();
                    Layout.initTouchspin();
                    Layout.initUniform();
                });;
            </script>
        }
    </div>
</div>