@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="main">
    <div class="container">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (ViewData.ModelState.ErrorCount == 0)
        {
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        }

        @section Scripts{
            <partial name="_BlueTapeJs" />
            <script>
                jQuery(document).ready(function () {
                    Layout.init();
                    Layout.initTwitter();
                    Layout.initOWL();
                    Layout.initImageZoom();
                    Layout.initTouchspin();
                    Layout.initUniform();
                });
            </script>
        }
    </div>
</div>