@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="main">
    <div class="container">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
            </p>
        </div>
        @section Scripts{
            <partial name="_BlueTapeJs" />
            <script>
                jQuery(document).ready(function() {
                    Layout.init();
                    Layout.initTwitter();
                    Layout.initOWL();
                    Layout.initImageZoom();
                    Layout.initTouchspin();
                    Layout.initUniform();
                });
            </script>
        }
    </div>
</div>
