@model IEnumerable<Site.Areas.Admin.Models.AdminCategoryViewModel>
<style>
    textarea {
        resize: none;
    }
</style>
<p>
    <a id="create-new-product-link" class="btn btn-xs btn-info" href="Admin/AdminProducts/Create">Create New Product</a> |
    <a id="edit-categories-link" class="btn btn-xs btn-info" asp-area="Admin" asp-controller="AdminCategories">Edit Categories</a> |
    <a class="btn btn-xs btn-info" href="Admin/AspNetUsers/Index">Manage Site Users</a>
</p>
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab_profile" data-toggle="tab">Site Profile</a></li>
    <li><a href="#tab_settings" data-toggle="tab">Site Settings</a></li>
    @foreach (var item in Model)
    {
        <li><a href="#tab_@(item.Name.Replace(" ", "_").ToLower())" data-toggle="tab">@item.Name</a></li>
    }
</ul>
<div class="tab-content" ng-app="myApp" ng-controller="SettingsController">
    <div class="tab-pane active" id="tab_profile">
        <div class="row">
            <div class="col-md-6">
                <h2>Public Site Profile</h2>
                <dl class="dl-horizontal">
                    <dt>Title</dt>
                    <dd><input id="title" class="form-control" type="text" ng-model="profile.siteTitle" required /></dd>
                    <dt>Url</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.siteUrl" /></dd>
                    <dt>Logo Url</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.siteLogoUrl" /></dd>
                    <dt>CopyrightText</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.copyrightText" /></dd>
                    <dt>CopyrightUrl</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.copyrightUrl" /></dd>
                    <dt>CopyrightLinktext</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.copyrightLinktext" /></dd>
                </dl>
            </div>
            <div class="col-md-6">
                <h2>Contact</h2>
                <dl class="dl-horizontal">
                    <dt>Email</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.contactEmailAddress" /></dd>
                    <dt>Phone</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.contactPhoneNumber" /></dd>
                    <dt>Twitter URL</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.twitterUrl" /></dd>
                    <dt>FaceBook URL</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.faceBookUrl" /></dd>
                    <dt>LinkedIn URL</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.linkedInUrl" /></dd>
                </dl>
                <h2>Shipping</h2>
                <dl class="dl-horizontal">
                    <dt>Free Shipping Threshold</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.freeShippingThreshold" /></dd>
                    <dt>Flat Shipping Rage</dt>
                    <dd><input class="form-control" type="text" ng-model="profile.flatShippingRate" /></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Content</h2>
                <dl class="dl-horizontal">
                    <dt>About Us</dt>
                    <dd><textarea class="form-control" ng-model="profile.aboutUs"></textarea></dd>
                    <dt>Description</dt>
                    <dd><textarea rows="10" class="form-control" ng-model="profile.description" id="description" required></textarea></dd>
                    <dt>Keywords</dt>
                    <dd><textarea class="form-control" ng-model="profile.keywords" id="keywords" required></textarea></dd>
                </dl>
            </div>
        </div>
        <button type="button" class="btn btn-success" ng-click="saveSettings(settings, profile)" id="save-site-profile-button">Save</button>
    </div>
    <div class="tab-pane" id="tab_settings">
        <input type="hidden" value="{{settings.Id}}" />
        <div class="row">
            <div class="col-md-6">
                <h2>Site Settings</h2>
                <h2>Smtp Email</h2>
                <dl class="dl-horizontal">
                    <dt>Host</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.smtpHost" /></dd>
                    <dt>Port</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.smtpPort" /></dd>
                    <dt>Username</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.smtpUsername" /></dd>
                    <dt>Password</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.smtpPassword" /></dd>
                    <dt>Email Address</dt>
                    <dd>
                        <button style="width: 50%"
                                type="button"
                                class="btn btn-sm btn-success pull-right"
                                ng-disabled="!testEmailAddress"
                                ng-click="sendMail(testEmailAddress)">
                            Send Test Email
                        </button>
                        <input style="width: 50%" type="text"
                               class="form-control"
                               placeholder="recipient@gmail.com"
                               ng-model="testEmailAddress"
                               ng-change="clearErrors()" />
                        <span class="text text-danger">{{testEmailError}}</span>
                        <span class="text text-success">{{emailSentMessage}}</span>

                    </dd>
                </dl>
                <h2>PayPal Live</h2>
                <dl class="dl-horizontal">
                    <dt>Api User Name</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.paypalApiUsername" /></dd>
                    <dt>Client Id</dt>
                    <dd><input id="paypal-client-id" class="form-control" type="text" ng-model="settings.paypalClientId" /></dd>
                    <dt>Client Secret</dt>
                    <dd><input id="paypal-client-secret" class="form-control" type="text" ng-model="settings.paypalClientSecret" /></dd>
                </dl>

                <h2>PayPal SandBox</h2>
                <dl class="dl-horizontal">
                    <dt>Api User Name</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.paypalSandboxAccount" /></dd>
                    <dt>Sandbox ClientId</dt>
                    <dd><input id="paypal-sandbox-client-id" class="form-control" type="text" ng-model="settings.paypalSandBoxClientId" /></dd>
                    <dt>Sanbox Secret</dt>
                    <dd><input id="paypal-sandbox-client-secret" class="form-control" type="text" ng-model="settings.paypalSandBoxSecret" /></dd>
                </dl>
            </div>
            <div class="col-md-6">
                <h2>External Services</h2>

                <h3>FaceBook</h3>
                <dl class="dl-horizontal">
                    <dt>App Id</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.facebookAppId" /></dd>
                    <dt>Client Id</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.facebookClientId" /></dd>
                    <dt>Client Secret</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.facebookClientSecret" /></dd>
                </dl>

                <h3>Google</h3>
                <dl class="dl-horizontal">
                    <dt>Client Id</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.googleClientId" /></dd>
                    <dt>Client Secret </dt>
                    <dd><input class="form-control" type="text" ng-model="settings.googleClientSecret" /></dd>
                </dl>

                <h3>Instagram</h3>
                <dl class="dl-horizontal">
                    <dt>Client Id</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.instagramClientId" /></dd>
                    <dt>Client Secret</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.instagramClientSecret" /></dd>
                </dl>

                <h3>Mail Chimp</h3>
                <dl class="dl-horizontal">
                    <dt>Api Key</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.mailChimpApiKey" /></dd>
                    <dt>List Id</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.mailChimpListId" /></dd>
                </dl>

                <h3>Microsoft</h3>
                <dl class="dl-horizontal">
                    <dt>MicrosoftClientId</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.microsoftClientId" /></dd>
                    <dt>MicrosoftClientSecret</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.microsoftClientSecret" /></dd>
                </dl>

                <h3>Twitter</h3>
                <dl class="dl-horizontal">
                    <dt>TwitterClientId</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.twitterClientId" /></dd>
                    <dt>TwitterClientSecret</dt>
                    <dd><input class="form-control" type="text" ng-model="settings.twitterClientSecret" /></dd>
                </dl>
            </div>
        </div>
        <button type="button" class="btn btn-success" ng-click="saveSettings(settings, profile)" id="save-site-settings-button">Save</button>
    </div>
    @foreach (var item in Model)
    {
        <div class="tab-pane" id="tab_@(item.Name.Replace(" ", "_").ToLower())">
            <table class="table">
                <tr>
                    <th>
                        Main Image
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                @foreach (var itm in item.Products)
                {
                    <tr>
                        <td>
                            <img src="images/productthumb/@itm.ImageId" />
                        </td>
                        <td>
                            <a href="Admin/AdminProducts/Edit/@itm.Id" class="bold label label-info">@itm.Name</a>
                        </td>
                        <td>
                            <p class="text text-danger">@itm.Description</p>
                        </td>
                    </tr>
                }
            </table>
            <hr />
        </div>
    }
</div>

@section Scripts {
    <script>
        angular.module('myApp', ['ngResource']).controller('SettingsController',
            function ($scope, $resource) {

                $scope.testEmailError = "";
                $scope.emailSentMessage = "";

                var settingsApi = $resource("api/SiteSettings");


                settingsApi.get(function (data) {
                    $scope.settings = data.siteSettings;
                    $scope.profile = data.siteProfile;
                },
                    function (error) {
                        console.log(error);
                    });

                $scope.saveSettings = function (settings, profile) {
                    settingsApi.save({
                        siteSettings: settings,
                        siteProfile: profile
                    },
                        function () {
                            alert("settings saved");
                        });
                };

                $scope.sendMail = function (emailAddress) {
                    var emailApi = $resource("api/EmailTest?email=" + emailAddress);

                    emailApi.get(
                        function () {
                            $scope.clearErrors();
                            $scope.emailSentMessage = "Sent email to: " + $scope.testEmailAddress;
                            $scope.testEmailAddress = null;
                        },
                        function (error) {
                            $scope.clearErrors();
                            $scope.testEmailError = error.data.Message;
                        }
                    );
                }

                $scope.clearErrors = function () {
                    $scope.emailSentMessage = null;
                    $scope.testEmailError = null;
                }
            });
    </script>
}