@{
    ViewBag.Title = "Confirm Email";
    
}
<div class="main">
    <div class="container">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div asp-validation-summary="All" class="text-danger"></div>
        }
        else
        {
            <h2>@ViewBag.Title.</h2>
            <div>
                <p>
                    
                    Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login" id="click-here-to-login-link">Click here to Log in</a>
            </div>
        }

        @section Scripts{
            <partial name="_BlueTapeJs" />
            <script>
                jQuery(document).ready(function () {
                    Layout.init();
                    Layout.initTwitter();
                    Layout.initOWL();
                    Layout.initImageZoom();
                    Layout.initTouchspin();
                    Layout.initUniform();
                });;
            </script>
        }

    </div>
</div>