<div class="main">
    <div class="container">
        <h2>Checkout Cancelled</h2>
    </div>
</div>
@section Scripts
{
    <script>

        jQuery(document).ready(function () {
            Layout.init();
            Layout.initTwitter();
            Layout.initOWL();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
        });
    </script>
}
