@model BlueTapeCrew.ViewModels.CartViewModel
@{
    ViewBag.Title = "OrderError";
}
<div class="main">
    <div class="container">
        <div asp-validation-summary="All"></div>
        <p><a href="mailto:info@bluetapecrew.com">info@bluetapecrew.com</a>
        </p>
    </div>
</div>
@section Scripts
{
    <partial name="_BlueTapeJs" />
    <script>
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initTwitter();
            Layout.initOWL();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
        });
    </script>
}

