@model Site.Areas.Admin.Models.AdminCategoryPageViewModel
<style>
    .category-position {
        padding: 1%;
    }

    .not-published {
        background-color: lightgray
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h4 id="order-heading">Drag Categories to Order</h4>
        <ul id="category-positions" class="list-group">
            @foreach (var category in Model.AdminCategories.OrderBy(x => x.Position))
            {
                var styleStr = "list-group-item category-position";
                if (!category.Published) { styleStr += " not-published"; }
                <li class="@styleStr"
                    data-category-id="@category.Id">@category.Name <span class="pull-right">(@category.Products.Count())</span></li>
                }
        </ul>
    </div>
    <div class="col-xs-6">

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
<script>
    var categoryPositionListElement = document.getElementById('category-positions');
    var sortable = new Sortable(categoryPositionListElement, {

        onEnd: function () {
            const categoryPositions = [];
            const listItems = categoryPositionListElement.getElementsByClassName('category-position');
            for (let i = 0; i < listItems.length; i++) {
                categoryPositions.push({
                    categoryId: parseInt(listItems[i].dataset.categoryId),
                    index: i
                });
            }
            const updateCategoryOrderRequest = { positions: categoryPositions };
            fetch('api/categorypositions',
                {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(updateCategoryOrderRequest)
                })
        }
    });
</script>