.paypalButton {
    border: none;
    background: transparent;
    background-image: url("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif");
    text-indent: -9999px;
    width: 145px;
    height: 42px;
}

.validation-summary-errors {
    color: red;
}

button.del-goods {
    border: none;
    outline: none;
}

input.form-control { width: 50%; }
.site-logo { margin-right: 3%; }
.owl-buttons .owl-prev { background: #fff url(../img/fa-angles.png) no-repeat 8px 8px; }
.owl-buttons .owl-next { background: #fff url(../img/fa-angles.png) no-repeat -33px 8px; }
.owl-buttons .owl-prev:hover { background: #64aed9 url(../img/fa-angles.png) no-repeat 8px -31px; }
.owl-buttons .owl-next:hover { background: #64aed9 url(../img/fa-angles.png) no-repeat -33px -31px; }
.social-icons li .facebook { background: url(../img/facebook.png) no-repeat; }
.social-icons li .twitter { background: url(../img/twitter.png) no-repeat; }
.header .mobi-toggler { background: #fff url(../img/toggler.png) no-repeat 6px 8px; }
.header .mobi-toggler:hover { background: #64aed9 url(../img/toggler.png) no-repeat 6px -28px; }
.del-goods { background: #d7dde3 url(../img/del-goods.png) no-repeat 50% 50%; }
.del-goods:hover { background: #64aed9 url(../img/del-goods.png) no-repeat 50% 50%; }