@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model Services.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div class="row">
        <div class="col-md-6">
            <h4>Product</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
                <dd>@Html.DisplayFor(model => model.ProductName)</dd>

                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>
            </dl>
            <form action="Admin/AdminProducts/Delete/@Model.Id" method="post" asp-antiforgery="true">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <a href="Admin/AdminProducts/Index">Back to List</a>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img src="data:@Model.Image.MimeType;base64,@Convert.ToBase64String(Model.Image.ImageData)" class="img-responsive" alt="main-product-image"  />
        </div>
    </div>
</div>
